@model testModel.Models.ShowVM

 @{
    ViewData["Title"] = "Edit";
}

<form asp-action="Show">
    <div class="row">
        <div class="col-3">
            @Html.TextBoxFor(model =>  Model.Id, new { @class = "form-control ", placeholder = "Id"})
        </div>
        <div class="col-3">
            @Html.TextBoxFor(model => Model.Name, new { @class = "form-control ", placeholder = "Name"})
        </div>
    </div>
    <div class="row">
        @for (var i = 0; i < Model.listShow.Count; i++)
        {
            <div class="row rowdata" id="row_@i" name="rowname" data-order="@i">
                <div class="col-3">
                    <button type=button id="del2" onclick="funDelJs(this)">>delete js</button>
                    <button type=button id="del3" onclick="funDelJquery(this)">delete jquery</button>
                </div>
                <div class="col-3">
                    @Html.TextBoxFor(model =>  Model.listShow[i].userId, new { @class = "form-control ", placeholder = "userId",@id="txtuserId"})
                </div>
                <div class="col-3">
                    @Html.TextBoxFor(model => Model.listShow[i].title, new { @class = "form-control ", placeholder = "title",@id="txttitle"})
                </div>
                <div class="col-3">
                    @Html.TextBoxFor(model => Model.listShow[i].completed, new { @class = "form-control", placeholder = "completed",@id="txtcompleted"})
                </div>
            </div>
        }
        <input type="submit" button="btnSend" value="send" />
    </div>
</form>
<script>
    // let delBtn = document.getElementById("userId");
    //delBtn.addEventListener("click", function(){
    //  let txt2 = document.getElementById("row");
    //  txt2.remove();
    //})


        function funDelJquery(o) {
        //$(o).parents(".rowdata").remove();
        $(o).parents(".rowdata").remove();
        return false;
    }
    function funDelJs(o){
    //o.parentNode
    }

        ///重新排序 序號
    function funOrderItemkey() {
        $("#hidnCount").val(0);

        $(".rowdata").each(function (i, obj) {
            $(this).attr("data-order", i+1);

            $(this).find("#txtuserId").attr("name", "listShow[" + i + "].userId");
            $(this).find("#txttitle").attr("name", "listShow[" + i + "].title");
            $(this).find("#txtcompleted").attr("name", "listShow[" + i + "].completed");
            $("#hidnCount").val(i);
        });
    }

</script>